* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
button {
  border: none;
  display: block;
}
ul {
  list-style: none;
}
/* reusable classes */
.container {
  max-width: 1100px;
  margin: auto;
}
/* end of reusable classes */
.header {
  min-height: 100vh;
  background: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
  margin-bottom: 100px;
}
nav img {
  width: 200px;
  height: auto;
}

nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
nav ul a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
/* end of nav */
.intro__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.intro__text h1 {
  font-size: 54px;
  color: #fff;
  margin-bottom: 10px;
}
.intro__text .intro__span {
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
  color: #fff;
  font-weight: 500;
}
.intro__text button {
  background-color: #c271ff;
  box-shadow: 0px 2px 20px 0px #00000080;
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  width: 162;
  height: 44;
  border-radius: 22px;
  padding: 10px 20px;
  cursor: pointer;
}
/* end of intro__text  */
.pros h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
}
.pros h2 span {
  color: #c271ff;
}
.pros__wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.pros__wrapper .pro__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pros__wrapper .pro__card h3 {
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;
}
.pros__wrapper .pro__card img {
  height: 100px;
  width: 100px;
}
.pros__wrapper .pro__card p {
  color: #fff;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
/* end of header */
.testimonial {
  padding: 90px 0;
  background: #c271ff;
}
.testmonial__wrapper {
  display: flex;
  gap: 40px;
  align-items: start;
}
.testmonial__wrapper .testimonial__image {
  flex-grow: 3;
}
.testmonial__wrapper .testimonial__image img {
  width: 100%;
}
.testmonial__wrapper .testimonial__quote {
  flex-grow: 4;
  color: #fff;
}
.testmonial__wrapper .testimonial__quote blockquote {
  font-weight: 400;
  font-size: 22px;
  line-height: 33.6px;
  letter-spacing: 0px;
  display: block;
}
.testmonial__wrapper .testimonial__quote h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 33.6px;
  letter-spacing: 0px;
  padding: 5px 0;
}
.testmonial__wrapper .testimonial__quote p {
  font-weight: 400;
  font-style: italic;
  font-size: 22px;
  line-height: 33.6px;
  letter-spacing: 0px;
}
/* end of testmonials */
.tutorials{
    padding: 90px 0;
}